/* READ ME!!!!
MOST OF THE WIDTH AND FONT-SIZE PROPERTIES ARE IN THE MEDIA QUERY (@) */

/* ------------------ NAVIGATION BAR ------------------ */
nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.185);
    border-bottom: 2px solid rgba(255, 255, 255, 0.37);
    /* width: 100%; */
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    padding: 0 12%;
}

nav span {
    /* font-size: 35px; */
    font-weight: 600;
    transition: .4s
}

nav span:hover {
    color: #14afe2;
    cursor: pointer;
}

/* nav .w-2 {
    margin-left: -19px;
} */

/* nav h1 {
    font-size: 35px;
} */
nav h1:hover {
    cursor: default;
}

/* nav p {
    font-size: 20px;
} */
nav p:hover {
    cursor: default;
}

/* -------------- MAKING THE SITE RESPONSIVE --------------  */
@media(max-width:9000px) {

    nav span,
    nav h1 {
        font-size: 35px;
    }
    nav p {
        font-size: 20px;
    }
    nav .w-2 {
        margin-left: -19px;
    }

    .search {
        width: 500px;
        height: 50px;
    }
    .search .form .input-box input {
        font-size: 20px;
    }
    .search .form .input-box i {
        font-size: 36px;
    }
    .search .form button {
        font-size: 20px;
    }

    .weather-box {
    width: 70%;
    height: 55vh;
    }
    .weather-box .icon-temp {
        font-size: 50px;
    }
    .weather-box .image-box {
        width: 33%;
        height: 75%;
    }

    .description h2 {
        font-size: 18px;
    }
}

@media(max-width:1300px) {

    nav span,
    nav h1 {
        font-size: 30px;
    }
    nav p {
        font-size: 17px;
    }
    nav .w-2 {
        margin-left: -16px;
    }

    .weather-box .icon-temp {
        font-size: 45px;
    }
    .weather-box .image-box {
        width: 33%;
        height: 75%;
    }
}

@media (max-width: 1024px) {
    nav {
        padding: 0 2%;
        transition: 0.4s;
    }

    .search {
        width: 400px;
        height: 40px;
    }
    .search .form .input-box input, 
    .search .form button {
        font-size: 16px;
    }
    .search .form .input-box i {
        font-size: 30px;
    }

    .weather-box {
        font-size: smaller;
        transition: .2s;
    }
    .weather-box .icon-temp {
        font-size: 40px;
    }
    .weather-box .image-box {
        width: 28%;
        height: 55%;
    }
}

@media (max-width:900px) {


    .weather-box .icon-temp {
        font-size: 30px;
    }

    .weather-box .info {
        font-size: 10px;
    }

    .weather-box .image-box {
        width: 28%;
        height: 55%;
    }
}

@media (max-width:700px) {
    .weather-box .image-box {
        display: none;
    }
    .weather-box {
        width: 50vw;
        height: 45vh;
    }
    
    .description h2 {
        position: absolute;
        right: 0;
        bottom: 10px;
        margin: 0 auto;
        font-size: 18px;
    }
}

@media (max-width:500px) {

    nav span,
    nav h1 {
        font-size: 25px;
    }
    nav p {
        font-size: 13px;
    }
    nav .w-2 {
        margin-left: -13px;
    }
    
    .search {
        width: 300px;
        height: 40px;
    }
    .search .form .input-box input, 
    .search .form button {
        font-size: 14px;
    }
    .search .form .input-box i {
        font-size: 20px;
    }
    
    .weather-box {
        width: 90vw;
        height: 35vh;
    }
}

/* @media (max-width:425) {
        .search {
        width: 300px;
        height: 40px;
    }
    .search .form .input-box input, 
    .search .form button {
        font-size: 14px;
    }
    .search .form .input-box i {
        font-size: 20px;
    }

} */


/* ----------------- ALL 3 PARTS (CONTENT) ALIGMENT ----------------- */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------- RECOMMEND  BOX ----------------- */
/*  THIS APPEARS WHEN FOCUS ON THE SEARCH  */
.recommend-box {
    background: linear-gradient(#0e033171 0 0) left / var(--p, 0) no-repeat;
    position: absolute;
    top: 80px;
    right: 45vw;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    margin-bottom: 1vh;
    border-radius: 10px;
    opacity: 0;
    z-index: 2;
    transition: .4s, background-position 0s;
}
.recommend-box p {
    color: #adefff;
    font-size: 1.18vw;

}

/* ----------------------- SEARCH BOX ----------------------- */
.search {
    /* background-color: black; */
    /* width: 500px;
    height: 50px; */
    margin: 4.5vh 0 1vh;
}

.search .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.search .form .input-box {
    /* background-color: white; */
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.search .form .input-box input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    /* font-size: 20px; moved to media query */
    transition: .4s;
}

.search .form .input-box input::placeholder {
    color: #fff;
}

.search .form .input-box input:focus {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #16044d44;
}
.search:hover + .recommend-box {
    opacity: 1;    
    --p: 110%;
    background-position: right;

}

.search .form .input-box i {
    /* font-size: 36px; media query */
    position: absolute;
    right: 10%;
}

.search .form button {

    background: linear-gradient(#9fc3cc 0 0) left / var(--p, 0) no-repeat;

    /* background-color: #082c4c; */
    border: 2px solid rgba(255, 255, 255, 0.37);
    width: 35%;
    height: 100%;
    border-radius: 20px; 
    /* font-size: 20px; media query*/
    font-weight: 600;
    color: #fff;
    transition: .4s, background-position 0s;
}

.search .form button:hover {
    border: none;
    cursor: pointer;
    background-color: #104464;
    color: #000000;
    --p: 110%;
    background-position: right;
}

/* --------------- WEATHER WINDOW --------------- */
.weather-box {
    background: #16044d44;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}


.weather-box .icon-temp {
    /* background-color: #000000; */
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .weather-box .icon-temp i {
    font-size: ;

}

.weather-box .icon-temp h1 {
    font-size: ;
} */

/* .weather-box .image-box {
    background-color: #000000;
     width: 33%;
    height: 75%;
} */

.weather-box .image-box img {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    box-shadow: 0 2px 10px black;
}

.weather-box .info {
    /* background-color: black; */
    width: 33%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* ERROR MSG  */
.error-txt {
    font-size: 18px;
    color: rgb(255, 111, 111);
}

/* ------------------ FOOTER LINE ------------------ */
.description h2 {
    text-align: center;
    color: #fff;
    /* font-size: 1.18vw; */
    margin-top: 40px;
}